@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #1f2937;
  
  /* PulsAI Colors */
  --primary: #3590E3;
  --secondary: #BAF09D;
  --neutral-100: #F9FAFB;
  --neutral-200: #F3F4F6;
  --neutral-300: #E5E7EB;
  --neutral-800: #1F2937;
  --neutral-900: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  
  --font-sans: var(--font-ubuntu);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
